<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" >

        <label for="precio">precio</label>
        <input type="text" name="precio" >

        <label for="descripcion">descripcion</label>
        <input type="text" name="descripcion" >

        <label for="marca">marca</label>
        <input type="text" name="marca" >

        <label for="stock">stock</label>
        <input type="text" name="stock" >

    </form>
    nombre, precio, descripción, marca y stock.

    
</body>
</html>